___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Before beginning your analysis, it is critical that you first examine and clean the dataset, to make working with it a more efficient process. You will practice fixing data types, handling missing values, and dropping columns and rows while learning about the Stanford Open Policing Project dataset.

***

## Examining the dataset

You'll be analyzing a dataset of traffic stops in Rhode Island that was collected by the Stanford Open Policing Project.

Before beginning your analysis, it's important that you familiarize yourself with the dataset. You'll read the dataset into pandas, examine the first few rows, and then count the number of missing values.

**INSTRUCTIONS**

*   Import pandas using the alias ``pd``.
*   Read the file police.csv into a DataFrame named ``ri``
*   Examine the first 5 rows of the ``DataFrame`` (known as the ``"head"``).
*   Count the number of missing values in each column: Use ``.isnull()`` to check which ``DataFrame`` elements are missing, and then take the ``.sum()`` to count the number of ``True`` values in each column.

In [190]:
import pandas as pd
ri = pd.read_csv('police.csv',nrows=50000)

In [191]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [192]:
print(ri.isnull().sum(axis=0))

id                           0
state                        0
stop_date                    0
stop_time                    0
location_raw                 0
county_name              50000
county_fips              50000
fine_grained_location    50000
police_department            0
driver_gender             1990
driver_age_raw            1971
driver_age                2208
driver_race_raw           1988
driver_race               1988
violation_raw             1988
violation                 1988
search_conducted             0
search_type_raw          47988
search_type              47988
contraband_found             0
stop_outcome              1988
is_arrested               1988
stop_duration             1988
out_of_state              2203
drugs_related_stop           0
district                     0
dtype: int64

***

## Dropping columns

Often, a DataFrame will contain columns that are not useful to your analysis. Such columns should be dropped from the ``DataFrame``, to make it easier for you to focus on the remaining columns.

You'll drop the ``county_name`` column because it only contains missing values, and you'll drop the ``state`` column because all of the traffic stops took place in one state (Rhode Island). Thus, these columns can be dropped because they contain no useful information.

**INSTRUCTIONS**

*   Examine the ``DataFrame``'s shape to find out the number of rows and columns.

*   Drop the columns that almost consist of missing values. 

*   Examine the ``.shape`` again to verify that there are now two fewer columns.

In [193]:
ri.drop(["county_name", "state","county_fips","fine_grained_location","search_type_raw","location_raw"], inplace = True , axis = 1)

In [194]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  50000 non-null  object
 1   stop_date           50000 non-null  object
 2   stop_time           50000 non-null  object
 3   police_department   50000 non-null  object
 4   driver_gender       48010 non-null  object
 5   driver_age_raw      48029 non-null  float64
 6   driver_age          47792 non-null  float64
 7   driver_race_raw     48012 non-null  object
 8   driver_race         48012 non-null  object
 9   violation_raw       48012 non-null  object
 10  violation           48012 non-null  object
 11  search_conducted    50000 non-null  bool
 12  search_type         2012 non-null   object
 13  contraband_found    50000 non-null  bool
 14  stop_outcome        48012 non-null  object
 15  is_arrested         48012 non-null  object
 16  stop_duration       48012 non-null  object
 17  out_of_state        47797 non-null  object
 18  drugs_related_stop  50000 non-null  bool
 19  district            50000 non-null  object
dtypes: bool(3), float64(2), object(15)
memory usage: 6.6+ MB

In [195]:
ri.shape

(50000, 20)

***

## Dropping rows

When you know that a specific column will be critical to your analysis, and only a small fraction of rows are missing a value in that column, it often makes sense to remove those rows from the dataset.

During this course, the ``driver_gender`` column will be critical to many of your analyses. Because only a small fraction of rows are missing ``driver_gender``, we'll drop those rows from the dataset.

**INSTRUCTIONS**

*   Count the number of missing values in each column.

*   Drop all rows that are missing ``driver_gender`` by passing the column name to the subset parameter of ``.dropna()``.
*   Count the number of missing values in each column again, to verify that none of the remaining rows are missing ``driver_gender``.
*   Examine the ``DataFrame``'s ``.shape`` to see how many rows and columns remain.

In [196]:
print(ri.isnull().sum(axis=0))

id                        0
stop_date                 0
stop_time                 0
police_department         0
driver_gender          1990
driver_age_raw         1971
driver_age             2208
driver_race_raw        1988
driver_race            1988
violation_raw          1988
violation              1988
search_conducted          0
search_type           47988
contraband_found          0
stop_outcome           1988
is_arrested            1988
stop_duration          1988
out_of_state           2203
drugs_related_stop        0
district                  0
dtype: int64

In [197]:
ri.dropna(inplace=True, subset=["driver_gender"], axis=0)

In [198]:
print(ri.isnull().sum(axis=0))

id                        0
stop_date                 0
stop_time                 0
police_department         0
driver_gender             0
driver_age_raw            0
driver_age              232
driver_race_raw           0
driver_race               0
violation_raw             0
violation                 0
search_conducted          0
search_type           45998
contraband_found          0
stop_outcome              0
is_arrested               0
stop_duration             0
out_of_state            215
drugs_related_stop        0
district                  0
dtype: int64

In [199]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   stop_date           48010 non-null  object
 2   stop_time           48010 non-null  object
 3   police_department   48010 non-null  object
 4   driver_gender       48010 non-null  object
 5   driver_age_raw      48010 non-null  float64
 6   driver_age          47778 non-null  float64
 7   driver_race_raw     48010 non-null  object
 8   driver_race         48010 non-null  object
 9   violation_raw       48010 non-null  object
 10  violation           48010 non-null  object
 11  search_conducted    48010 non-null  bool
 12  search_type         2012 non-null   object
 13  contraband_found    48010 non-null  bool
 14  stop_outcome        48010 non-null  object
 15  is_arrested         48010 non-null  object
 16  stop_duration       48010 non-null  object
 17  out_of_state        47795 non-null  object
 18  drugs_related_stop  48010 non-null  bool
 19  district            48010 non-null  object
dtypes: bool(3), float64(2), object(15)
memory usage: 6.7+ MB

In [200]:
ri.shape

(48010, 20)

***

## Fixing a data type

We know that the ``is_arrested`` column currently has the ``object`` data type. In this exercise, we'll change the data type to ``bool``, which is the most suitable type for a column containing ``True`` and ``False`` values.

Fixing the data type will enable us to use mathematical operations on the ``is_arrested`` column that would not be possible otherwise.

**INSTRUCTIONS**

*   Examine the head of the ``is_arrested`` column to verify that it contains ``True`` and ``False`` values.
*   Check the current data type of ``is_arrested``.
*   Use the ``.astype()`` method to convert ``is_arrested`` to a ``bool`` column.
*   Check the new data type of ``is_arrested``, to confirm that it is now a ``bool`` column.

In [201]:
ri[["is_arrested"]].head()

  is_arrested
0       False
1       False
3       False
4       False
5       False

In [202]:
ri[["is_arrested"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   is_arrested  48010 non-null  object
dtypes: object(1)
memory usage: 750.2+ KB

In [203]:
ri.is_arrested=ri.is_arrested.astype("bool")

In [204]:
 type(ri.is_arrested[0])

numpy.bool_

***

## Combining object columns

Currently, the date and time of each traffic stop are stored in separate object columns: ``stop_date`` and ``stop_time``.

You'll combine these two columns into a single column, and then convert it to ``datetime`` format. This will enable convenient date-based attributes that we'll use later in the course.

**INSTRUCTIONS**

*    Use a string method to concatenate ``stop_date`` and ``stop_time`` (separated by a space), and store the result in ``combined``.
*    Convert ``combined`` to ``datetime`` format, and store the result in a new column named ``stop_datetime``.
*    Examine the ``DataFrame`` ``.dtypes`` to confirm that ``stop_datetime`` is a datetime column.

In [205]:
combined=pd.concat([ri["stop_date"]+" "+ri["stop_time"]])

In [206]:
combined = pd.to_datetime(combined)
ri['stop_datetime']=combined
del ri["stop_date"]

In [207]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   stop_time           48010 non-null  object
 2   police_department   48010 non-null  object
 3   driver_gender       48010 non-null  object
 4   driver_age_raw      48010 non-null  float64
 5   driver_age          47778 non-null  float64
 6   driver_race_raw     48010 non-null  object
 7   driver_race         48010 non-null  object
 8   violation_raw       48010 non-null  object
 9   violation           48010 non-null  object
 10  search_conducted    48010 non-null  bool
 11  search_type         2012 non-null   object
 12  contraband_found    48010 non-null  bool
 13  stop_outcome        48010 non-null  object
 14  is_arrested         48010 non-null  bool
 15  stop_duration       48010 non-null  object
 16  out_of_state        47795 non-null  object
 17  drugs_related_stop  48010 non-null  bool
 18  district            48010 non-null  object
 19  stop_datetime       48010 non-null  datetime64[ns]
dtypes: bool(4), datetime64[ns](1), float64(2), object(13)
memory usage: 7.7+ MB

The last step that you'll take in this chapter is to set the ``stop_datetime`` column as the ``DataFrame``'s index. By replacing the default index with a ``DatetimeIndex``, you'll make it easier to analyze the dataset by date and time, which will come in handy later in the course.

**INSTRUCTIONS**

*   Set ``stop_datetime`` as the ``DataFrame`` index.
*   Examine the index to verify that it is a ``DatetimeIndex``.
*   Examine the ``DataFrame`` columns to confirm that ``stop_datetime`` is no longer one of the columns.

In [208]:
ri.set_index("stop_datetime")

,id,stop_time,police_department,driver_gender,driver_age_raw,driver_age,driver_race_raw,driver_race,violation_raw,violation,search_conducted,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,01:55,600,M,1985.0,20.0,W,White,Speeding,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,20:30,500,M,1987.0,18.0,W,White,Speeding,Speeding,False,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,12:55,500,M,1986.0,19.0,W,White,Equipment/Inspection Violation,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,01:30,500,M,1978.0,27.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,08:05,0,M,1973.0,32.0,B,Black,Call for Service,Other,False,NaN,False,Citation,False,30+ Min,True,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-08-08 22:45:00,RI-2006-35917,22:45,300,M,1973.0,33.0,B,Black,Equipment/Inspection Violation,Equipment,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
2006-08-08 22:45:00,RI-2006-35918,22:45,300,F,1971.0,35.0,B,Black,Speeding,Speeding,False,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
2006-08-08 22:53:00,RI-2006-35919,22:53,500,M,1952.0,54.0,W,White,Speeding,Speeding,False,NaN,False,Citation,False,16-30 Min,True,False,Zone X4
2006-08-08 23:00:00,RI-2006-35920,23:00,600,F,1982.0,24.0,W,White,Speeding,Speeding,False,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2006-08-08 23:00:00,RI-2006-35921,23:00,300,M,1965.0,41.0,W,White,Speeding,Speeding,False,NaN,False,Citation,False,16-30 Min,False,False,Zone K3

In [209]:
ri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48010 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  48010 non-null  object
 1   stop_time           48010 non-null  object
 2   police_department   48010 non-null  object
 3   driver_gender       48010 non-null  object
 4   driver_age_raw      48010 non-null  float64
 5   driver_age          47778 non-null  float64
 6   driver_race_raw     48010 non-null  object
 7   driver_race         48010 non-null  object
 8   violation_raw       48010 non-null  object
 9   violation           48010 non-null  object
 10  search_conducted    48010 non-null  bool
 11  search_type         2012 non-null   object
 12  contraband_found    48010 non-null  bool
 13  stop_outcome        48010 non-null  object
 14  is_arrested         48010 non-null  bool
 15  stop_duration       48010 non-null  object
 16  out_of_state        47795 non-null  object
 17  drugs_related_stop  48010 non-null  bool
 18  district            48010 non-null  object
 19  stop_datetime       48010 non-null  datetime64[ns]
dtypes: bool(4), datetime64[ns](1), float64(2), object(13)
memory usage: 7.7+ MB